
// Carousel

.img-wrapper {
    width: 100%;
    height: 640px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.carousel-caption {
    padding: 1rem;
    border-radius: 0.5rem;
    top: 10rem;
    bottom: auto;
    max-width: 42rem;
    text-align: left;

    h1, p {
        color: #fff;
    }

    h1 {
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    }

    .buttons {
        gap: 1rem;
    }

    &.overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    &.right {
        left: auto;
        text-align: right;
    }
}