
// Carousel

ngb-carousel {
    box-shadow: 0px 2px 2px 1px rgba(20, 20, 20, 0.25)
}

.img-wrapper {
    width: 100%;
    min-height: 480px;
    height: 80vh;
    max-height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        min-height: 640px;
    }
}

.carousel-caption {
    padding: 1rem;
    border-radius: 0.5rem;
    top: 10rem;
    bottom: auto;
    max-width: 42rem;
    text-align: left;

    h1, p {
        color: #fff;
    }

    h1 {
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    }

    .buttons {
        gap: 1rem;
    }

    &.overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    &.right {
        left: auto;
        text-align: right;
    }
}

.content {
    &.light {
        background-color: #414145;
    }

    &.game-strip {
        .game-icons {
            gap: 2rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        a {
            img {
                border-radius: 50%;
                box-shadow: 0px 0px 0px 2px rgba(100, 100, 100, 0.35);
            }

            &:focus,
            &:hover {
                img {
                    box-shadow: 0px 0px 0px 2px rgba(200, 200, 200, 0.35);
                }
            }
        }
    }
}
