@if (images) {
	<ngb-carousel #carousel class="shadow-sm">
        @for (item of carouselItems; track $index) {
            <ng-template ngbSlide id="slide-{{$index}}">
                <div class="img-wrapper">
                    <img [src]="'/assets/'+item.image + '.jpg'" alt="Slide {{$index + 1}}" />
                </div>
                <div class="carousel-caption" [class.overlay]="item.showContentOverlay" [class.right]="item.contentLocation === 'right'">
                    <h1 class="fs-2 fw-semibold" [innerHTML]="item.title"></h1>
                    <p [innerHTML]="item.text" class="mt-3 mb-0"></p>
                        @if (item.buttons) {
                            <div class="d-flex flex-row buttons" [class.justify-content-end]="item.contentLocation === 'right'">
                            @for (button of item.buttons; track $index) {
                                <a [href]="button.link" class="btn mt-4" [class]="button.styleClass">{{button.text}}</a>
                            }
                            </div>
                        }
                </div>
            </ng-template>
        }
	</ngb-carousel>
}
<div class="social-strip d-flex flex-row flex-wrap justify-content-between p-3 pt-4 pb-4">
    <div class="d-inline-flex flex-row align-items-center">
        <span class="d-inline-flex align-items-center patreon-widget">
            <a class="d-inline-flex align-items-center" target="_blank" href="https://patreon.com/Odamex"><span class="d-none d-lg-inline-block">Support us on</span><img src="/img/patreon_logo.png" /></a>
        </span>
    </div>
    <div class="d-inline-flex flex-row align-items-center">
        <h6 class="d-none d-xl-block">Find more Odamex players:</h6>
        <div class="d-flex align-items-center justify-content-center badges">
            <span class="d-inline-flex align-items-center steam-widget">						
			    <a target="_blank" title="XXX steam users online now" href="http://steamcommunity.com/groups/odamex#members"><span class="onlinecount">XXX</span><span class="d-none d-lg-inline-block membercount">&nbsp;/&nbsp;YYY</span></a>				
            </span>	
            <span class="d-inline-flex align-items-center discord-widget">
                <a class="d-inline-flex align-items-center" target="_blank" href="//discord.gg/3mKEnjx5P9" title="Join us on Discord">
                    <object type="image/svg+xml" data="https://img.shields.io/discord/236518337671200768?style=for-the-badge&logo=discord&logoColor=white&labelColor=%230E0E0E&color=%237289da&cacheSeconds=600&link=https%3A%2F%2Fdiscord.gg%2F2F3mKEnjx5P9" class="discord-logo"></object>
                </a>
            </span>
        </div>
    </div>
</div>
@if (downloadLinks.length > 0) {
    <div class="content download-strip d-none d-md-flex flex-column text-center p-5">
        <h2>Download Now for Your Platform</h2>
        <p>Each stable package includes client, server, and launcher applications.</p>
        <div class="items p-3">
            <div>
                <div ngbDropdown class="d-inline-flex btn-group dropdown-download pb-4" placement="bottom-end" data-bs-theme="dark">
                    <a class="btn btn-success btn-lg" id="home-download" [href]="primaryDownloadLink?.link" role="button">
                        <i class="bi bi-{{primaryDownloadLink?.icon}}"></i><span>{{primaryDownloadLink?.text}}</span>
                    </a>
                    <button type="button" class="btn btn-success btn-lg dropdown-toggle dropdown-toggle-split" ngbDropdownToggle aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="home-download">
                        @for (link of downloadLinks; track $index;) {
                            <a ngbDropdownItem [href]="link.link">
                                <i class="bi bi-{{link.icon}}"></i><span>{{link.text}}</span>
                            </a>
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center p-4 badges">
                    <object type="image/svg+xml" data="https://img.shields.io/github/downloads/odamex/odamex/total?style=for-the-badge&label=GitHub%20Downloads&cacheSeconds=600&link=https%3A%2F%2Fgithub.com%2Fodamex%2Fodamex%2Freleases%2Flatest" class="github-downloads"></object>
                    <object type="image/svg+xml" data="https://img.shields.io/sourceforge/dt/Odamex?style=for-the-badge&label=Sourceforge%20Downloads&color=%23ff6600&cacheSeconds=600&link=https%3A%2F%2Fsourceforge.net%2Fprojects%2Fodamex" class="sourceforge-downloads"></object>
                </div>
            </div>
        </div>
    </div>
}
<div class="content light news-strip text-center p-5">
    <h2>News & Announcements</h2>
    <div class="items"></div>
</div>
<div class="content dev-strip text-center p-5">
    <h2>Latest Development Updates</h2>
    <div class="d-flex flex-row justify-content-center p-4 badges">
        <a target="_blank" href="https://github.com/odamex/odamex/actions?query=workflow%3AWindows"><img src="https://github.com/odamex/odamex/actions/workflows/windows.yml/badge.svg?branch=stable"></a>
		<a target="_blank" href="https://github.com/odamex/odamex/actions?query=workflow%3AmacOS"><img src="https://github.com/odamex/odamex/actions/workflows/macos.yml/badge.svg?branch=stable"></a> 
		<a target="_blank" href="https://github.com/odamex/odamex/actions?query=workflow%3ALinux"><img src="https://github.com/odamex/odamex/actions/workflows/linux.yml/badge.svg?branch=stable"></a>
    </div>
    <div class="d-flex flex-row">
        <div class="changelog"></div>
        <div class="issues"></div>
    </div>
</div>
<div class="content light game-strip text-center p-5">
    <div class="pt-4 pb-4">
        <h2>Doom, Doom II & More</h2>
        <p>ODAMEX is compatible with the following games:</p>
        <span class="d-flex justify-content-center flex-wrap game-icons">
            <a title="Doom and Ultimate Doom" alt="Doom and Ultimate Doom" target="_blank" href="https://doomwiki.org/wiki/Doom"><img src="/assets/icons/icon-doom-128.png"></a>
            <a title="Doom II" alt="Doom II" target="_blank" href="https://doomwiki.org/wiki/Doom_II"><img src="/assets/icons/icon-doom2-128.png"></a>
            <a title="Final Doom" alt="Final Doom" target="_blank" href="https://doomwiki.org/wiki/Final_Doom"><img src="/assets/icons/icon-finaldoom-128.png"></a>
            <a title="Chex Quest" alt="Chex Quest" target="_blank" href="https://doomwiki.org/wiki/Chex_Quest"><img src="/assets/icons/icon-chexquest-128.png"></a>
            <a title="FreeDoom" alt="FreeDoom" target="_blank" href="https://doomwiki.org/wiki/FreeDoom"><img src="/assets/icons/icon-freedoom-128.png"></a>
        </span>
    </div>
    <div class="pt-4 pb-4">
        <h2>Open Source, Any Platform<sup>*</sup></h2>
        <p>
            ODAMEX is designed with portability in mind. From PCs to netbooks, consoles to handhelds, Amiga to Windows - our goal is for any device to run multiplayer Doom.
        </p>
        <p>If you have ported ODAMEX to a new device or platform, <a href="https://github.com/odamex/odamex/issues/new?template=feature-request.md">let us know!</a></p>
    </div>
</div>